# Core backend dependencies
fastapi
uvicorn
sqlalchemy
python-dotenv
pydantic
python-multipart
bcrypt
pyjwt
psycopg2-binary

email-validator

# Optional: for development and code quality
black
pylint
